<div class="partners_home">
    <div class="partners_content">
        <h3>Наши партнёры</h3>
        <div class="partners_txt">
            <a id="partners_prev" class="jcarousel_partners-prev" href="#" title="Предыдущий партнер"></a><a id="partners_next" class="jcarousel_partners-next" href="#" title="Следующий партнер"></a>
            <div id="partners">
                {% for row in rows %}
                    <div>
                        {% if row.image %}
                            <img src="{% path row.image, 'partner_home' %}" alt="" />
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
