<div class="news_home">
    <div class="news_content">
        {% block headnews %}<h3>Новости</h3>{% endblock %}
        {% for row in rows %}
            <div class="news_block"><!-- Блок новости -->
                <p><a href="{{ path('app_news_show', {post: row.id}) }}">{{ row.title|raw }}</a></p>
                <p class="data">{{ row.publicationDateStart|date('d.m.Y') }}</p>
            </div>
        {% endfor %}
        <p class="archive_news"><a href="{{ url('app_news_list') }}" class="btn more">Все новости</a></p>
    </div>
</div>
