<div class="special_home">
    <div class="special_content">
        <h3>Специальные предложения</h3>
        <a id="special_prev" class="jcarousel_special-prev" href="#" data-target="#" title="Предыдущее предложение"></a><a id="special_next" class="jcarousel_special-next" href="#" data-target="#" title="Следующее предложение"></a>
        <div class="jcarousel_special">
            <div id="special" class="owl-carousel">
                {% for row in rows %}
                <div class="special">
                    <img src="{% if row.image %}{% path row.image, 'special_offer_home' %}{%endif%}" alt="Фото объекта" />
                    <div class="special_txt">
                        <p>{{ row.text }}</p>
                        <p><strong>{{ row.address }}</strong></p>
                        <p><strong>{{ row.price }}</strong></p>
                    </div>
                    <a href="{{ row.link }}" title="Перейти на страницу объекта"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
